apiVersion: v1
kind: Secret
metadata:
  name: general-secret
  namespace: tondeka-app
stringData:
  DB_PASS: "your-database-password"
  SECRET_KEY: "your-secret-key"
  APP_SECRET: "your-app-secret-key"
  EMAIL_PASSWORD: "your-email-password"
  REDIS_PASSWORD: "your-redis-password"
  RESEND_API_KEY: "your-resend-api-key"
  JWT_SECRET: "your-jwt-secret-key"
  
type: Opaque 